version: '3.3'

services:
  wordpress:
    image: wordpress:latest
    volumes:
      - {{ MOUNT_DIR }}:/var/www/html
    ports:
      - "80:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: {{ wordpress_db_ip }}:3306
      WORDPRESS_DB_USER: {{ WORDPRESS_DB_USER }}
      WORDPRESS_DB_PASSWORD: {{ WORDPRESS_DB_PASSWORD }}
      WORDPRESS_DB_NAME: wordpressdb
      